* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game-container {
  position: relative;
}

canvas {
  display: block;
  background: url("https://i.postimg.cc/qMyDQ7XD/09d433e3-85c1-4190-b276-2ad504a68e0c.jpg")
    no-repeat center/cover;
}

#ui {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}

#restart {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  display: none;
}
